{% load static %}
{% load i18n %}
{% load my_filters %}
<div class="invoice-amount" style="margin-top: 20px;">
    {% if aufgabe.fragentyp_id == 10 %}
        <p><strong>{% trans "Betrag (Brutto):"%}</strong> {{ rabatt_betrag|floatformat:2 }} EUR {%trans "(Rechnungsbetrag vor Rabatt)"%}</p>
    {% elif aufgabe.fragentyp_id == 13%}
        <p><strong>{% trans "Anschaffungskosten: "%}</strong> {{ rechnungsbetrag|mul:aufgabe.nutzungsdauer|floatformat:2 }}</p>
    {% elif aufgabe.fragentyp_id != 10 and aufgabe.fragentyp_id != 13 and aufgabe.umsatzsteuerfrei == 1 %}
        <p><strong>{% trans "Betrag:"%}</strong> {{ rechnungsbetrag|floatformat:2 }} EUR {%trans "(frei von Ust.)"%} </p>
    {% elif aufgabe.fragentyp_id == 15 %} 
        <p><strong> {% trans "Betrag:"%} </strong> {{ rechnungsbetrag|floatformat:2 }} EUR {% trans " " %}</p>
    {%else%} 
        <p><strong>{% trans "Betrag Netto" %}:</strong> {{ betrag_netto|floatformat:2 }} 
        <br>
        <strong>{%trans "Mehrwertsteuer"%}</strong> (19%): {{ betrag_steuer|floatformat:2 }} 
        </p>
    {% endif %}
</div>
<div class="payment-info" style="margin-top: 20px;">
    <p><strong>{% trans "Zahlungsweise:"%}</strong> {{ zahlweise|default:_("Keine Zahlungsart angegeben") }}</p>
</div>