
{% extends "posts/rechnung_basis.html" %}
{% load my_filters %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="invoice-box">

        <div class="invoice-header" style="margin-top: 20px;">
            <p><strong>{% trans "Datum:"%}</strong> {{ datum|date:"d.m.Y" }}</p>
            {% if aufgabe.rechnungstyp != "non" %}
                <p><strong>{% trans "Dokument:"%}</strong> {{ rechnungsnummer|default:_("Keine Nummer angegeben") }}</p>
            {% endif %}
        </div>
    
        <div class="invoice-description" style="margin-top: 20px;">
                <h3>{% trans "Geschäftsvorfall"%}</h3>
            <br><br>
                <p>
                {% if aufgabe.rechnungstyp == "non"%}
                    {% trans "Sehr geehrte Buchhaltung,"%} <br><br>{% trans "Folgender Geschäftsvorfall ist eingegangen und muss bearbeitet werden:"%}
                {% else %}
                    {% trans "Sehr geehrte Buchhaltung,"%} 
                {%endif%}
                <br><br>
                {{ beschreibung|linebreaks }}<br><br>
            </p>
        </div>
    
        {% include "posts/rechnungen/betrag.html"%}

        <div class="invoice-footer" style="margin-top: 40px;">
            <p><strong>{{ verabschiedung|linebreaks }}</strong></p>
            {% if aufgabe.rechnungstyp == "ausgehend" %}
                <p>{% trans "Ihr SecureNet Team"%} </p>
                <p><strong>{% trans "Kontakt:"%}</strong><br>SecureNet@gmail.com</p>
            {% elif aufgabe.rechnungstyp == "eingehend" %}
                <p>{{ nutzer_aufgabe.absender.name }}</p>
                <p><strong>{% trans "Kontakt:"%}</strong><br>{{ nutzer_aufgabe.absender.email|linebreaks }}</p>
            {%else %}
                <p>{% trans "Ihre SecureNet GmbH"%}</p>
            {%endif%}
            <br>
            
        </div>
    </div>
{% endblock %}

