
{% extends "posts/rechnung_basis.html" %}
{% load my_filters %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="invoice-box">
    <div class="client-address" style="text-align: right;">
        <p><strong>{{ eigene_ansicht|linebreaks }}</strong></p>
    </div>
    {% include "posts/rechnungen/company_address.html"%}

    {% include "posts/rechnungen/rechnungsnummer.html"%}
    
    <div class="invoice-description" style="margin-top: 20px;">
            <h3>{% trans "Geschäftsvorfall"%}</h3>
        <br><br>
            <p>
                {% trans "Sehr geehrte "%} {{unternehmen_name}} GmbH,
            <br><br>
            {{ beschreibung|linebreaks }}<br><br>
        </p>
    </div>

    {% include "posts/rechnungen/betrag.html"%}

    <div class="invoice-footer" style="margin-top: 40px;">
        <p><strong>{{ verabschiedung|linebreaks }}</strong></p>
            <p>{{ nutzer_aufgabe.absender.name }}</p>
            <p><strong>{% trans "Kontakt:"%}</strong><br>{{ nutzer_aufgabe.absender.email|linebreaks }}</p>
        <br>
    </div>
</div>
{% endblock %}

