<!-- add_studiengang.html -->
{% extends 'vorlage.html' %}
{% block content %}
    <h2>Neuen Studiengang hinzufügen</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Speichern</button>
    </form>

    <h3>Vorhandene Studiengänge</h3>
    <ul>
        {% for studiengang in studiengaenge %}
            <li>
                {{ studiengang.name }}
                <a href="{% url 'users:delete_studiengang' studiengang.id %}">Löschen</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
