<!-- add_studiengang.html -->
{% extends 'master_layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <h2>{% trans "Neuen Studiengang hinzufügen"%}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Speichern"%}</button>
    </form>

    <h3>{% trans "Vorhandene Studiengänge"%}</h3>
    <ul>
        {% for studiengang in studiengaenge %}
            <li>
                {{ studiengang.name }}
                {% if studiengang.ersteller == request.user.id or request.user.is_superuser %}
                    <a href="{% url 'users:delete_studiengang' studiengang.id %}">{% trans "Löschen"%}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
