{% extends 'master_layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Login as a User"%}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-box">
    <img src="/media/avatar.png" alt="Avatar" class="login-avatar">
        <h1>{% trans "Login"%}</h1>

        {% if messages %}
            <div class="login-error">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <form class="form-with-validation" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group" style="position: relative;">
                {{ form.password.label_tag }}
                {{ form.password }}
                <button type="button" onclick="togglePassword('id_password')" style="position: absolute; right: 10px; top: 33px;">👁</button>
            </div>


            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}

            <button type="submit" class="form-submit">{% trans "Einloggen"%}</button>
        </form>
    </div>
</div>
<script>
function togglePassword(id) {
    const input = document.getElementById(id);
    if (input && input.type === "password") {
        input.type = "text";
    } else if (input) {
        input.type = "password";
    }
}
</script>

{% endblock %}
