{% extends 'master_layout.html' %}
{% load static %} 
{% load i18n %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
{% endblock %}

{% block content %}
<h2>{% trans "Profil aktualisieren" %}</h2>
{% if messages %}
  {% for message in messages %}
    <div class="confirmation-message {{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}
<form method="post" class ="profil_form">
    {% csrf_token %}
    
    <div>
        <label for="display_name">{% trans "Neuer Anzeigename (optional):"%}</label>
        <input type="text" name="display_name" value="{{ user.display_name }}">
        <button type="submit" name="save_display_name">
            {% trans "Anzeigename speichern" %}
        </button>
    </div>
    <br><br>
    <div style="position: relative;">
        <label for="password">{% trans "Neues Passwort (optional)" %}:</label>
        <input type="password" name="password" id="password">
        <button type="button" onclick="togglePassword('password')" style="position: absolute; right: 10px; top: 33px;">👁</button>
    </div>

    <br>

    <div style="position: relative;">
        <label for="password_confirm">{% trans "Passwort bestätigen:" %}</label>
        <input type="password" name="password_confirm" id="password_confirm">
        <button type="button" onclick="togglePassword('password_confirm')" style="position: absolute; right: 10px; top: 33px;">👁</button>
        <button type="submit" name="save_password">
            {% trans "Passwort speichern" %}
        </button>
    </div>

</form>

<script>
    window.onload = function() {
        const message = localStorage.getItem('confirmationMessage');
        if (message) {
            document.getElementById('confirmation-message').innerText = message;
            document.getElementById('confirmation-message').style.display = 'block';
            localStorage.removeItem('confirmationMessage'); // Nachricht nach dem Anzeigen löschen
        }
    };
    function showConfirmationMessage(textKey) {
        const message = gettext(textKey);
        const box = document.getElementById('confirmation-message');
        box.innerText = message;
        box.style.display = 'block';
    }
function togglePassword(id) {
    const input = document.getElementById(id);
    if (input && input.type === "password") {
        input.type = "text";
    } else if (input) {
        input.type = "password";
    }
}
</script>
{% endblock %}
