{% extends 'vorlage.html' %}
{% load static %}

{% block title %}
Website Prototyp
{% endblock %}

{% block content %}
    <!-- Anzeige des Nutzernamens und der Rolle -->
{% if user.is_authenticated %}
    <p>Willkommen, {{ user.username }}!</p>
    
    {% if user.is_superuser %}
        <p>Ihre Rolle: Admin</p>
    {% else %}
        <p>Ihre Rolle: {{ user.get_role_display }}</p>
    {% endif %}
    
    <!-- Nur für Lehrkräfte die Studierenden anzeigen -->
    {% if user.role == 'teacher' %}
        <h2>Ihre Studierenden:</h2>
        {% if students %}
            <ul>
            {% for student in students %}
                <li>{{ student.username }} - {{ student.email }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Sie haben derzeit keine Studierenden unter Ihrer Betreuung.</p>
        {% endif %}
    {% elif user.role == 'student' and not user.is_superuser%}
        <h2>Ihr Professor:</h2>
        {% if user.professor %}
            <p>{{ user.professor.username }} - {{ user.professor.email }}</p>
        {% else %}
            <p>Sie haben derzeit keinen zugewiesenen Professor.</p>
        {% endif %}
    {% endif %}


 
{% else %}
    <p>Bitte <a href="{% url 'users:login' %}">loggen Sie sich ein</a>.</p>
{% endif %}

    <!-- Bild unten rechts -->
    <div class="bottom_right_image">
        <img src="/media/img1.webp" alt="Meme">
    </div>
    <div class="bottom_left_image">
        <img src="/media/blueprint.png" alt="Lexware Übersicht">
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
