{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureNet Homepage</title> 
    <link rel="stylesheet" href="{% static 'css/master_layout.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="{% url 'javascript-catalog' %}"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
    <!-- Page Container -->
    <div class="page-container">
        <!-- Header Section -->
        <header class="header-container">
            <!-- Logo Section -->
            <div class="logo-container">
                <img src="/media/securenet-logo.png"
                     alt="SecureNet Logo"
                     class="securenet-logo">
                <span class="logo-text">SecureNet</span>
            </div>
            <!-- Navigation Bar -->
            <nav class="navigation-bar">
                    <a href="{% url 'frontpage' %}" class="nav-element">{% trans "Home"%}</a>
                    <a href="{% url 'posts:posteingang' %}" class="nav-element" style="position: relative;">
                        {% trans "Posteingang" %}
                        {% if unread_mail_count > 0 %}
                            <span class="mail-badge">{{ unread_mail_count }}</span>
                        {% endif %}
                    </a>
                    <a href="{% url 'posts:rechnungsuebersicht' %}" class="nav-element">{% trans "Rechnungen"%}</a>
                    {% if user.is_authenticated %}
                        <div class="nav-dropdown">
                            <a href="#" class="nav-element dropdown-toggle">{% trans "Profil"%} ▾</a>
                            <div class="dropdown-content">
                                <a href="{% url 'users:update_profile' %}" class="nav-element">{% trans "Profil"%}</a>
                                <a href="/media/nutzerdokumentation.pdf" class="nav-element">{% trans "Handbuch"%}</a>
                                {% if request.user.role == 'teacher' %}
                                    <a href="/media/nutzerdokumentation_lehrende.pdf" class="nav-element" target="_blank">{% trans "Handbuch Lehrende"%}</a>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if request.user.role == 'teacher' %}
                            <div class="nav-dropdown">
                                <a href="#" class="nav-element dropdown-toggle">{% trans "Verwaltung"%}▾</a>
                                <div class="dropdown-content">
                                    <a class = "nav-element" href="{% url 'posts:aufgaben_verwalten'%}">{% trans "Aufgabenliste"%}</a>
                                    <a class = "nav-element" href="{% url 'users:aufgaben_zuweisen'%}">{% trans "Aufgaben zuweisen"%}</a>
                                    <a class = "nav-element" href="{% url 'users:bulk_student_creation'%}">{% trans "Nutzer anlegen"%}</a>
                                    <a href="{% url 'posts:aufgabe_erstellen' %}" class="nav-element">{% trans "Aufgabe erstellen"%}</a>
                                </div>
                            </div>
                        {% endif %}
                        
                        <div class="nav-dropdown">
                            <a href="#" class="nav-element dropdown-toggle">{% trans "Buchhaltung"%}▾</a>
                            <div class="dropdown-content">
                                <a href="{% url 'posts:hauptbuch' %}">{% trans "Hauptbuch"%}</a>
                                <a href="{% url 'posts:guv_uebersicht' %}">{% trans "GuV"%}</a>
                                <a href="{% url 'posts:bilanz' %}">{% trans "Bilanz"%}</a>
                                <a href="{% url 'posts:buchungssatz_uebersicht' %}">{% trans "Buchungssätze"%}</a>
                                <a href="{% url 'posts:freie_buchung' %}">{% trans "Freien Buchungssatz erstellen"%}</a>
                            </div>
                        </div>
                        <!--
                        {% if request.user.is_superuser%}
                            <a href="{% url 'posts:aufgabe_erstellen' %}" class="nav-element">Aufgabe erstellen</a>
                        {% endif %}
                        -->
                    <div class="nav-dropdown">
                        <a href="#" class="nav-element dropdown-toggle">{% trans "Impressum"%}▾</a>
                        <div class="dropdown-content">
                            <a href="https://projekte.htw-berlin.de/hochschule/curriculum-innovation-hub/studieren-in-individuellem-tempo/" class="nav-element">{% trans "Impressum"%}</a>
                            <a href=#>{% trans "FAQ, ToDo"%}</a>
                        </div>
                    </div>
                    <form class="logout-form" action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="logout-button">Logout</button>
                    </form>
                    {% else %}
                        <a class = "nav-element" href="{% url 'users:login' %}">Login</a>
                    {% endif %}
                    
                    <form class="language-form" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <label for="language-select">{% trans "Sprache wählen"%}:</label>
                        <select name="language" id="language-select">
                            <option value="de" {% if LANGUAGE_CODE == 'de' %}selected{% endif %}>Deutsch</option>
                            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                        </select>
                        <button class="language-submit-button" type="submit">{% trans "Sprache ändern"%}</button>
                    </form>

                    
            </nav>
        </header>
    </div>
    
    <div class="content-container">
        {% block content %}
        <!-- Hier wird der spezifische Seiteninhalt platziert -->
        {% endblock %}
    </div>
</body>
</html>
