{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureNet Homepage</title> 
    <link rel="stylesheet" href="{% static 'css/master_layout.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <!-- Page Container -->
    <div class="page-container">
        <!-- Header Section -->
        <header class="header-container">
            <!-- Logo Section -->
            <div class="logo-container">
                <img src="/media/securenet-logo.png"
                     alt="SecureNet Logo"
                     class="securenet-logo">
                <span class="logo-text">SecureNet</span>
            </div>
            <!-- Navigation Bar -->
            <nav class="navigation-bar">
                
                    <a href="{% url 'posts:posteingang' %}" class="nav-element">Posteingang</a>
                    <a href="{% url 'frontpage' %}" class="nav-element">Home</a>
                    <a href="#" class="nav-element">Finanzverwaltung</a>
                    <a href="{% url 'posts:rechnungsuebersicht' %}" class="nav-element">Rechnungen</a>
                    <a href="{% url 'posts:aufgabe_erstellen' %}" class="nav-element">Aufgabe erstellen</a>
                    {% if user.is_authenticated %}
                    <form class="logout" action="{%url 'users:logout' %}" method = "post">
                        {% csrf_token %}
                        <button class="logout-button" title="User Logout">Logout</button>
                        <a class = "nav-element" href="{% url 'users:register' %}">Nutzer anlegen</a>
                    </form>
                        {% if request.user.role == 'teacher' %}
                            <a class = "nav-element" href="{% url 'users:aufgaben_zuweisen'%}">Aufgaben zuweisen</a>
                        {% endif %}
                    {% else %}
                        <a class = "nav-element" href="{% url 'users:login' %}">Login</a>
                    {% endif %}
            </nav>
        </header>
    </div>
    
    <div class="content-container">
        {% block content %}
        <!-- Hier wird der spezifische Seiteninhalt platziert -->
        {% endblock %}
    </div>
</body>
</html>
