{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website Prototyp{% endblock %}</title>    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class = "navigation_bar_top">
        {% if user.is_authenticated%}
            <button id="menuButton" class="menu_button">☰ Nach Login sichtbar</button>
            <div id="menu" class="dropdown_menu">
                <a href="{% url 'themenkomplex1' %}" class="menu_link">Themenkomplex 1</a>
                <a href="{% url 'themenkomplex2' %}" class="menu_link">Themenkomplex 2</a>
                <a href="{% url 'themenkomplex3' %}" class="menu_link">Themenkomplex 3</a>
                <a href="{% url 'themenkomplex1' %}" class="menu_link">Themenkomplex 4</a>
                <a href="{% url 'themenkomplex1' %}" class="menu_link">Themenkomplex 5</a>
                <a href="{% url 'themenkomplex1' %}" class="menu_link">Themenkomplex 6</a>
                <a href="{% url 'themenkomplex1' %}" class="menu_link">Themenkomplex 7</a>
                <a href="{% url 'themenkomplex1' %}" class="menu_link">Themenkomplex 8</a>
                <a href="{% url 'themenkomplex1' %}" class="menu_link">Themenkomplex 9</a>
            </div>
        {% endif %}
        <div class = "topbar_text">
            <a class = "menulink" href="{% url 'index' %}">Home</a>
            <a class = "menulink" href="{% url 'posts:buchungsaufgabe' %}">Buchungsaufgabe</a>
            <a class = "menulink" href="{% url 'login' %}">Login</a>
            <a class = "menulink" href="{% url 'vorlage' %}">Vorlage</a>
            <a class = "menulink" href="{% url 'posts:list' %}">Posts</a>
            {% if user.is_authenticated%}
                <a class = "menulink" href="{% url 'posts:new-post' %}">New_Post</a>
                <form class="logout" action="{%url 'users:logout' %}" method = "post">
                    {% csrf_token %}
                    <button class="logout-button" title="User Logout">Logout</button>
                </form>
            {% else %}
                <a class = "menulink" href="{% url 'users:login' %}">Login</a>
                <a class = "menulink" href="{% url 'users:register' %}">Registrierungg</a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    <!-- Hier wird der spezifische Seiteninhalt platziert -->
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>