{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Standard Titel{% endblock %}</title>
</head>
<body>
    <div class="navigation-container_vorlage2">
        <nav class="navigation_vorlage2">
            <a href="#" class="navigation-item_vorlage2">Posteingang</a>
            <a href="#" class="navigation-item_vorlage2">Finanzverwaltung</a>
            <a href="{% url 'posts:rechnung' %}" class="navigation-item_vorlage2">Rechnungen</a>
            <a href="{% url 'frontpage2' %}" class="navigation-item_vorlage2">Home</a>
            <a href="{% url 'posts:aufgabe_erstellen' %}" class="navigation-item_vorlage2">Aufgabe erstellen</a>
            {% if user.is_authenticated %}
            <form class="logout" action="{%url 'users:logout' %}" method = "post">
                {% csrf_token %}
                <button class="logout-button" title="User Logout">Logout</button>
            </form>
            {% else %}
            <a class = "menulink" href="{% url 'users:login' %}">Login</a>
            <a class = "menulink" href="{% url 'users:register' %}">Registrierung</a>
            {% endif %}
        </nav>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
