{% extends 'master_layout.html' %}
{% load static %}
{% load i18n %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/aufgabe_erstellen.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.css">
{% endblock %}

{% block content %}
    <h1>{% trans "Neue Aufgabe erstellen"%}</h1>
    <div class="link-buttons">
    <a href="{% url 'posts:unternehmen_verwalten' %}" class="btn btn-secondary">{% trans "Unternehmen/Fallstudien verwalten"%}</a>
    <a href="{% url 'posts:aufgabenkategorie_verwalten' %}" class="btn btn-secondary">{% trans "Fragentyp verwalten"%}</a>
    <a href="{% url 'posts:konten_verwalten' %}" class="btn btn-secondary">Konten verwalten</a>
    <a href="{% url 'posts:aufgabe_import_form' %}" class="btn btn-info">{% trans "Aufgaben aus Excel importieren"%}</a>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="aufgabeninfo_input"><strong>{% trans "Zusatzinformation zur Aufgabe (optional):"%}</strong></label>
            <input id="aufgabeninfo_input" type="hidden" name="aufgabeninfo" value="{{ form.aufgabeninfo.value|default_if_none:'' }}">
            <trix-editor input="aufgabeninfo_input"></trix-editor>
        </div>
        <h2>{% trans "Buchungssätze hinzufügen"%}</h2>
        <div id="fields-container">
            <div class="field-group">
                <!-- Konto Auswahl -->
                <label>{% trans "Konto:"%}</label>
                <select name="konto_id[]" required>
                    {% for konto in konten %}
                    <option value="{{ konto.id }}">{{ konto.name }}</option>
                    {% endfor %}
                </select>

                <!-- Soll/Haben Auswahl -->
                <label>{% trans "Soll/Haben:"%}</label>
                <select name="soll_haben[]" required>
                    <option value="Soll">{% trans "Soll"%}</option>
                    <option value="Haben">{% trans "Haben"%}</option>
                </select>

                <!-- Betrag (falls kein Bezug besteht) -->
                <input type="number" step="0.01" placeholder="Betrag" name="betrag[]" class="betrag">
                </select>
            </div>
        </div>

        <button type="button" onclick="addFieldGroup()">{% trans "Weitere Buchung hinzufügen"%}</button>
        <br><br>
        <button type="submit">{% trans "Speichern"%}</button>
    </form>
<script>
    function addFieldGroup() {
        let container = document.getElementById('fields-container');
        let newFieldGroup = document.createElement('div');
        newFieldGroup.classList.add('field-group');
        let kontenOptions = `
            {% for konto in konten %}
                <option value="{{ konto.id }}">{{ konto.name }}</option>
            {% endfor %}
        `;
        newFieldGroup.innerHTML = `
            <label>${gettext("Konto:")}</label>
            <select name="konto_id[]" required>
            {% for konto in konten %}
                <option value="{{ konto.id }}">{{ konto.name }}</option>
            {% endfor %}
            </select>
            <label>${gettext("Soll/Haben:")}</label>
            <select name="soll_haben[]" required>
                <option value="Soll">${gettext("Soll")}</option>
                <option value="Haben">${gettext("Haben")}</option>
            </select>
            <input type="number" step="0.0000001" placeholder="${gettext("Betrag")}" name="betrag[]" class="betrag">
        `;
        container.appendChild(newFieldGroup);
    }
    function toggleFields(selectElement) {
        let parent = selectElement.parentElement;
        let festbetrag = parent.querySelector('.festbetrag');
        let faktor = parent.querySelector('.faktor');
        festbetrag.style.display = selectElement.value === "fix" ? "inline-block" : "none";
        faktor.style.display = selectElement.value === "faktor" ? "inline-block" : "none";
    }

document.addEventListener('DOMContentLoaded', function () {
    const kontenplanSelect = document.getElementById('id_kontenplan');
    kontenplanSelect.addEventListener('change', function() {
        let kontenplanId = this.value;

        fetch(`/posts/kontenplan_konten_laden/?kontenplan_id=${kontenplanId}`)
            .then(response => response.json())
            .then(data => aktualisiereKontenDropdowns(data.konten));
    });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.js"></script>
{% endblock %}
