{% extends 'vorlage.html' %}
{% block title %}
    Aufgaben Übersicht
{% endblock %}

{% block content %}
    <h2>Aufgaben Übersicht für {{ request.user.username }}</h2>
    
    <form method="post" action="{% url 'posts:update_aufgabe_status_multiple' %}">
        {% csrf_token %}
        
        <!-- Display each task with a checkbox -->
        <ul>
            {% for aufgabe in aufgaben %}
                <li>
                    <input type="checkbox" name="aufgaben_ids" value="{{ aufgabe.id }}">
                    <label>{{ aufgabe.kategorie }} - Aufgabe {{ aufgabe.id }}</label>
                </li>
            {% endfor %}
        </ul>

        <!-- Display study programs for each semester -->
        <h3>Semester und Studiengänge</h3>
        {% for semester, studiengaenge in studiengaenge_per_semester.items %}
            <div>
                <strong>{{ semester.name }}</strong>
                {% for studiengang in studiengaenge %}
                    <label>
                        <input type="checkbox" name="studiengang_ids" value="{{ studiengang.id }}-{{ semester.id }}">
                        {{ studiengang.name }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}
        
        <button type="submit" name="action" value="freischalten">Freischalten</button>
        <button type="submit" name="action" value="sperren">Sperren</button>
    </form>
{% endblock %}
