{% extends 'master_layout.html' %}
{% load my_filters %}
{% load i18n %}
{% load static %}

{% block css %}
<meta name="csrf-token" content="{{ csrf_token }}">
<style>
    .faq-item {
        margin-bottom: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.5em;
        background-color: #f9f9f9;
    }

    .faq-question {
        cursor: pointer;
        font-weight: bold;
        padding: 0.5em;
    }

    .faq-answer {
        display: none;
        padding: 1em 0;
    }

    .faq-flex-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 2%;
        justify-content: space-between;
    }

    .faq-text, .faq-gif {
        width: 49%;
        box-sizing: border-box;
    }

    .faq-gif {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .faq-gif img {
        width: 100%;
        max-height: 400px;
        object-fit: contain;
        border: 1px solid #ccc;
    }

    @media (max-width: 768px) {
        .faq-flex-container {
            flex-wrap: wrap;
        }

        .faq-text, .faq-gif {
            width: 100%;
        }
    }
    .gif-wrapper {
    text-align: center;
    width: 100%;
    }
    .gif-caption {
    font-weight: bold;
    margin-bottom: 0.5em;
}
</style>
{% endblock %}

{% block content %}
<h1>{% trans "FAQ"%}</h1>
<h2>{% trans "Hier finden Sie relevante Informationen zu dieser Website und für die Bearbeitung der Aufgaben"%}</h2>
<p> {% trans "Bei Fragen: felix.bartl@htw-berlin.de"%}
<div class="faq-item">
    <div class="faq-question">{% trans "Allgemein"%}</div>
    <div class="faq-answer">
        <p>{%trans "Willkommen bei SecureNet"%} 
        <br><br>
        {% trans "Buchhaltung ist kompliziert. Und vor allem Buchungssätze sind nicht immer leicht aufzustellen. Aus dem Grund wurde diese Website erstellt; für das Üben von Buchungssätzen. "%}<br>
        {% trans "Um Buchhaltung anschaulich zu gestalten seid Ihr die Gründer eines Startups. Verschiedene Geschäftsvorfälle treten hier regelmäßig ein und diese müssen richtig verbucht werden. Die Geschäftsvorfälle kommen dabei über den Posteingang rein und können dann in der Rechnungsübersicht bearbeitet werden. Die hier durchgeführten Buchungen werden dann in das Hauptbuch eingetragen"%}.
        <br><br>
        <strong>{%trans "Wichtig"%}</strong>: {% trans "Auch falsche Buchungen werden in das Hauptbuch eingetragen"%}. 
        <br><br>
        {% trans "Sollte also die Frage aufkommen, wie sich"%} <i>{% trans "falsche"%}</i> {%trans "Buchungen auf den Gewinn oder die Bilanz auswirken, kann genau das hier getestet werden"%}. 
        <br><br>
        {% trans "Viel Erfolg mit Ihrem Unternehmen und beim Aufstellen der Buchungssätze"%}!
        </p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Posteingang"%}</div>
    <div class="faq-answer">
        <p>{% trans "Sobald ein Geschäftsvorfall eintrifft, wird dieser im Postfach angezeigt. Hier liegen alle eingegangenen Mails vor, welche dich zu dem entsprechenden Geschäftsvorfall weiterleiten. Die Statusanzeige gibt hierbei an, ob ein Maile bearbeitet wurde. Zu den buchbaren Geschäftsvorfälle gibt es auch Mails, welche unterschiedliche Vorfälle im Unternehmen abbilden. Diese sind schnell erledigt, da sich die entsprechende Abteilung im Unternehmen darum kümmern soll"%}. 
        <br><br>
        {% trans "Darüber hinaus liegen alle zu buchenden Geschäftsvorfälle in der Rechnungsübersicht vor. Hier kann der Bearbeitungsstand pro Geschäftsvorfall besser nachvollzogen werden"%}.</p>
        <br>
        <a href="{% url 'posts:posteingang' %}">{% trans "Zum Posteingang"%}</a>
        <br><br>
        <a href="{% url 'posts:rechnungsuebersicht' %}">{% trans "Zur Rechnungsübersicht"%}</a>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Wie wird gebucht"%}?</div>
        <div class="faq-answer">
            <div class = "faq-flex-container">
                <div class ="faq-text">
                    <p>
                        {% trans "Die Rechnungsübersicht besteht aus zwei Teilen: dem Geschäftsvorfall und der Buchungsmaske." %}
                        <br><br>

                        <strong>{% trans "Geschäftsvorfall" %}</strong>
                        <br>
                        {% trans "Die Geschäftsvorfälle sind wie Rechnungen bzw. interne Dokumente aufgebaut. Sie bestehen aus:" %}
                        <ul>
                            <li>{% trans "Dokumentenkopf (Datum, Dokumentennummer, ggf. Adressen)" %}</li>
                            <li>{% trans "Beschreibung (Erklärung, worum es sich bei diesem Vorfall handelt)" %}</li>
                            <li>{% trans "Rechnungsbetrag (ggf. mit Steuer)" %}</li>
                            <li>{% trans "ggf. Zahlweise (sofern vorhanden)" %}</li>
                            <li>{% trans "Dokumentenfuß (kurze Verabschiedung)" %}</li>
                        </ul>
                        <br>
                        {% trans "Hier sind alle Informationen enthalten, um den Buchungssatz für diesen Geschäftsvorfall aufzustellen." %}
                        <br><br>

                        <strong>{% trans "Buchungsmaske" %}</strong>
                        <br>
                        {% trans "Die Buchungsmaske besteht aus:" %}
                        <ul>
                            <li>{% trans "Übersicht zu den letzten Buchungen zu diesem Geschäftsvorfall (wird im Punkt 'Feedback' genauer beschrieben)" %}</li>
                            <li>{% trans "Eingabemaske für Soll (Betrag und Konten)" %}</li>
                            <li>{% trans "Eingabemaske für Haben (Betrag und Konten)" %}</li>
                            <li>{% trans "Button zum Abschicken des Buchungssatzes" %}</li>
                        </ul>
                        <br>
                        {% trans "Falls mehrere Konten für Soll oder Haben notwendig sind, können diese über die Buttons 'Neues Soll- (bzw. Haben-)Feld hinzufügen' ergänzt werden." %}
                        <br><br>
                        <strong>{% trans "Wichtig: Die Beträge für Soll und Haben müssen gleich sein, sonst kann der Buchungssatz nicht abgeschickt werden." %}</strong>
                        <br><br>
                        {% trans "Falls die Buchung erfolgreich abgeschickt wurde, findet eine Weiterleitung zur Startseite statt und die nächste Aufgabe kann bearbeitet werden." %}
                        <br><br>
                        <strong>{% trans "Hinweis" %}</strong>: 
                        {% trans "Falls die Lehrperson Hinweise für die Aufgabe hinterlassen hat, ist oben ein Button 'Weitere Informationen anzeigen' sichtbar, der diese Informationen ein- bzw. ausblenden kann." %}
                    </p>
                </div>
                <div class="faq-gif">
                    <div class="gif-wrapper">
                        <p class="gif-caption">{% trans "Beispielhafte Durchführung einer Buchung" %}</p>
                        <img src="/media/buchung.gif" alt="{% trans 'Demonstration der Buchungsmaske' %}">
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Ich habe einen Buchungssatz aufgestellt, und jetzt?" %}</div>
    <div class="faq-answer">
        <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Nachdem ein Buchungssatz aufgestellt wurde, wirst du zurück zur Startseite geleitet. Die übermittelte Lösung kann richtig oder falsch sein." %}
                    <br><br>
                    <strong>{% trans "Richtig:" %}</strong>
                    <br>
                    {% trans "Die Aufgabe ist abgeschlossen, und die nächste Aufgabe kann bearbeitet werden." %}
                    <br><br>
                    <strong>{% trans "Falsch:" %}</strong>
                    <br>
                    {% trans "Bei einer falschen Antwort wirst du (über das Postfach) dazu aufgefordert, eine Korrekturbuchung durchzuführen. Die Korrekturbuchung entspricht einer Spiegelung der fehlerhaften Buchung – so wie es auch in realen Unternehmen üblich ist." %}
                    <br><br>
                    {% trans "Beispiel:" %}
                    <br><br>
                    {% trans "Deine Eingaben waren:" %}
                    <br><br>
                    <i>{% trans "Bank 500 € an Forderungen aLuL 500 €" %}</i>
                    <br><br>
                    {% trans "Dann wäre die Korrekturbuchung:" %}
                    <br><br>
                    <i>{% trans "Forderungen aLuL 500 € an Bank 500 €" %}</i>
                    <br><br>
                    {% trans "Um die Korrekturbuchung durchzuführen, musst du in der Rechnungsansicht auf den Button" %} <i>{% trans "Buchungen/Feedback anzeigen" %}</i> {% trans "klicken. Dort werden dir alle bisherigen Buchungen zu dieser Aufgabe angezeigt." %}
                    <br><br>
                    {% trans "Wenn der letzte Versuch falsch war, erscheint ein Button zur Korrekturbuchung." %}
                    <br><br>
                    {% trans "Für die Korrekturbuchung sind insgesamt drei Klicks notwendig:" %}
                    <ul>
                        <li>{% trans "Korrekturbuchung vorschlagen (automatisches Ausfüllen der Buchungsmaske)" %}</li>
                        <li>{% trans "Korrekturbuchung durchführen" %}</li>
                        <li>{% trans "Korrekturbuchung bestätigen (letzte Sicherheitsabfrage)" %}</li>
                    </ul>
                    <br>
                    {% trans "Nach Durchführung der Korrekturbuchung kannst du wieder wie gewohnt buchen und die " %} <strong>{% trans "Korrekturbuchung im Hauptbuch"%}</strong> {%trans "ansehen." %}
                </p>
            </div>
            <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Beispielhafte Durchführung einer Korrekturbuchung" %}</p>
                    <img src="/media/korrekturbuchung.gif" alt="{% trans 'Demonstration der Korrekturbuchung' %}">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="faq-item">
    <div class="faq-question">{% trans "Feedback"%}</div>
    <div class="faq-answer">
        <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Falls eine Aufgabe falsch beantwortet wurde, kann Feedback zur eingegebenen Lösung angezeigt werden. Das Feedback ist dabei dreistufig aufgebaut:" %}
                </p>

                <ul>
                    <li>{% trans "1. Stufe: Konto oder Betrag für Soll bzw. Haben (z. B. Konto im Soll falsch)" %}</li>
                    <li>{% trans "2. Stufe: Detailliertes Feedback (kurzer Informationstext zur Aufgabe)" %}</li>
                    <li>{% trans "3. Stufe: Richtige Lösung" %}</li>
                </ul>

                <p>
                    {% trans "Um das Feedback einzusehen, musst du in der Rechnungsübersicht auf den Button" %} <i>{% trans "Buchungen/Feedback anzeigen" %}</i> {% trans "klicken. Dort wird dir deine Lösung zusammen mit dem entsprechenden Feedback angezeigt (siehe GIF)." %}
                </p>

            </div>
            <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Anzeigen von Feedback" %}</p>
                    <img src="/media/feedback.gif" alt="{% trans 'Anzeigen von Feedback' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Hauptbuch und freie Buchungen"%}</div>
    <div class="faq-answer">
        <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Das Hauptbuch dient dazu, dass du dir jede Buchung sowie Korrekturbuchungen und Anfangsbestände ansehen und nachvollziehen kannst. Hier werden die Beträge der Buchungen in den T-Konten dargestellt." %}
                    <br><br>
                    {% trans "Falls du untersuchen möchtest, wie sich bestimmte Buchungen auf die Konten auswirken, kannst du alternativ zu den Aufgaben auch freie Buchungen durchführen. Hier kannst du aufgabenunabhängig Buchungssätze generieren und sehen, wie sich diese auf dein Unternehmen auswirken. Klicke dafür auf den folgenden Link." %}
                    <br><br>
                    <strong>{% trans "Vorsicht!" %}</strong>
                    {% trans "Um diese eigenen Buchungen auszugleichen, musst du manuell Korrekturbuchungen aufstellen. Andernfalls wirkt sich dies auf die GuV oder die Bilanz aus." %}
                </p>
                <br><br>
                <a href="{% url 'posts:hauptbuch' %}">{% trans "Zum Hauptbuch"%}</a>
                <br><br>
                <a href="{% url 'posts:freie_buchung' %}">{% trans "Frei buchen"%}</a>
                </div>
            <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Hauptbuch" %}</p>
                    <img src="/media/hauptbuch.png" alt="{% trans 'Ansicht Hauptbuch' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Wie stelle ich eine GuV/Bilanz auf"%}?</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Wenn alle Geschäftsvorfälle bearbeitet wurden (oder auch zwischendurch), kann die GuV bzw. die Bilanz aufgestellt werden." %}
                    <br><br>

                    <strong>{% trans "GuV" %}</strong>
                    <br>
                    {% trans "Jedes Konto kann entweder als Bestandskonto oder als Aufwandskonto markiert werden. Nach der Auswahl kann das Konto abgeschlossen werden. Hier können nur Aufwandskonten abgeschlossen werden. Für Bestandskonten erscheint eine Rückmeldung, dass diese hier nicht abgeschlossen werden können." %}
                    <br><br>
                    {% trans "Nachdem ein Aufwandskonto abgeschlossen wurde, wird es unten dynamisch in das GuV-Konto übernommen. Wenn alle Konten zugeordnet wurden, kann das GuV-Konto abgeschlossen werden. Dieses wird dann für die Bilanz zur Verfügung gestellt. Das GuV-Konto kann ganz unten auf der Seite über den Button" %} <i>{% trans "GuV-Konto abschließen" %}</i> {% trans "abgeschlossen werden." %}
                    <br><br>

                    <strong>{% trans "Bilanz" %}</strong>
                    <br>
                    {% trans "Analog zur GuV müssen hier die Konten den Bereichen Aktiva oder Passiva zugeordnet werden. Nach der Zuteilung und dem Abschluss eines Kontos wird es dynamisch in die Bilanz übernommen." %}
                    <br><br>
                    <strong>{% trans "Wichtig" %}</strong>: {% trans "Die Bilanz wird nicht gespeichert. Sie dient lediglich als Kontrolle und zum besseren Verständnis." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "GuV und Bilanz" %}</p>
                    <img src="/media/guv_bilanz.gif" alt="{% trans 'GuV und Bilanz aufstellen' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_lehrkraft == 1 or request.user.is_superuser%}
<h2>{% trans "Funktionen für Lehrende"%}</h2>
<div class="faq-item">
    <div class="faq-question">{% trans "Allgemein"%}</div>
    <div class="faq-answer">
        <p>{%trans "Als Lehrkraft sind prinzipiell alle Funktionen von Studierenden verfügbar, welche im oberen Abschnitt beschrieben werden. Es ist also folgende Funktionen möglich: "%} 
            <ul>
                <li>{% trans "Posteingang einsehen" %}</li>
                <li>{% trans "Buchungssätze bearbeiten" %}</li>
                <li>{% trans "GuV/Bilanz erstellen" %}</li>
                <li>{% trans "Feedback von Aufgaben einsehen" %}</li>
            </ul>
            {%trans "Darüber hinaus gibt es weitere Funktionen, die hauptsächlich unter "%} <strong>{% trans "Verwaltung" %}</strong> {% trans "zu finden sind und hier in den nächsten Blöcken genauer erklärt werden."%}
        </p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Nutzererstellung"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>{%trans "Unter Studierende anlegen können neue Studierende bzw. Nutzer angelegt werden. Mithilfe von Studiengang und Semester können diese zu kategorisiert werden." %}
                    <br>
                    {% trans "Das Feld Fallstudie gibt dabei an, welche Aufgaben für diese Nutzer bereitgestellt werden können. Automatisch sind SecureNet und SecureNet_en vorhanden und auswählbar. Falls eigene Aufgaben erstellt werden, können diese einer eigenen Fallstudie zugeordnet werden und diese kann hier ausgewählt werden."%} 
                    <br><br>
                    {% trans "Aktuell werden den Nutzenden zu 50% Wahrscheinlichkeit KI-Feedback angezeigt. Das bedeutet, dass diese Nutzer bei der Erstellung eine 50% Chance haben, immer KI-Feedback für die Aufgaben zu erhalten oder nur vorgefertigtes Feedback erhalten, d.h. ein Nutzer sieht immer KI-Feedback oder niemals. Wenn diese Checkbox ausgewählt wird, dann erhalten alle Nutzenden immer KI Feedback." %}
                    <br>
                    {% trans "Wie das Feedback aufgebaut ist, ist im Reiter Feedback oben genauer erklärt. Zusätzlich wird die Erstellung von Feedback für bestimmte Fehler weiter unten erklärt." %}
                    <br><br>
                    {% trans "Zuletzt ist noch die Namensgenerierung für die neuen Nutzer festzulegen. Wird der Namensmodus ausgewählt, kann ein eigener Name gewählt werden und die Nutzer werden dann durchnummeriert erstellt (User1, User2 ...User30)" %}
                    <br>
                    {% trans "Wenn Namensmodus nicht ausgewählt wurde, wird ein automatischer Name erstellt, bestehend aus: Name der Lehrkraft, Semester, Studiengang. Dieser ist tendenziell nicht gut lesbar (BWLbaWiSe 24/2501)" %}
                    <br><br>
                    {% trans "Nach der Erstellung werden alle erstellen Konten inklusive Passwort angezeigt. Das Passwort ist dabei analog zum Nutzernamen. Sollte ein Konto mit diesem Namen bereits existieren, wird dies auch angezeigt." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Nutzererstellung" %}</p>
                    <img src="/media/nutzeranlegen.gif" alt="{% trans 'Nutzer erstellen' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Nutzer managen"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Unter dem Reiter 'Meine Studierenden' kann der Fortschritt der einzelnen Studierenden eingesehen werden. Hier werden die Studierenden nach Semester und Studiengang aufgeteilt und der jeweilige Fortschritt kann genau eingesehen werden." %}
                    <br>
                    {% trans "Darüber hinaus kann mithilfe des Sliders der Bearbeitungsmodus aktiviert werden, was das Löschen von Studierenden ermöglicht. Dies kann nicht rückgängig gemacht werden und sollte nur mit Vorsicht benutzt werden." %}
                    <br><br>
                    {% trans "Auf der Frontpage kann darüber hinaus noch der Fortschritt aller Studierenden eingesehen werden und nachgeschaut werden, welche Aufgaben besser oder schlechter beantwortet wurden. Dafür können hier die Filter (Semester und Studiengang) benutzt werden, um einen Überblick zu erhalten" %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Nutzer managen" %}</p>
                    <img src="/media/nutzermanagen.png" alt="{% trans 'Nutzer managen' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Aufgabenübersicht"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Unter 'Aufgabenliste' werden alle verfügbaren Aufgaben angezeigt. Dies beinhaltet alle Aufgaben für SecureNet und SecureNet_en, sowie selbst erstellte Aufgaben. Selbst erstellte Aufgaben können heir bearbeitet und gelöscht werden." %}
                    <br><br>
                    {% trans "Wichtig: Sollten selbst Aufgaben erstellt werden, sind diese nicht für andere Nutzer (außer Admins) sichtbar." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Aufgabenliste" %}</p>
                    <img src="/media/aufgabenliste.png" alt="{% trans 'Aufgabenliste' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Aufgabenerstellung"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Vor der Aufgabenerstellung, müssen zunächst einige Vorbereitungen getätigt werden. Diese sind oben in der Übersicht verlinkt und werden weiter unten genauer erklärt:" %}
                    <ul>
                        <li>{% trans "Fallstudie/Unternehmen verwalten" %}</li>
                        <li>{% trans "Fragentyp verwalten" %}</li>
                        <li>{% trans "Konten verwalten" %}</li>
                        <li>{% trans "Aufgaben aus Excel importieren" %}</li>
                    </ul>
                    {% trans "Der Import aus Excel stellt eine alternative Methode für die Aufgabenerstellung da." %}
                    <br><br>
                    <strong>{% trans "Wichtig: Studierende können nur Aufgaben sehen, wenn das Unternehmen bzw. die Fallstudie gleich sind." %}</strong>
                    <br>
                    {% trans "Bei der Nutzererstellung wird ein Unternehmen zugewiesen und bei der Aufgabenerstellung wird ein Unternehmen zugewiesen, wenn diese Unterschiedlich sind, können Nutzer eine zugewiesene Aufgabe nicht einsehen." %}
                    <br>
                    {% trans "Im Folgenden werden die einzelnen Felder genauer erklärt: " %}
                    <ul>
                        <li>{% trans "Kontenplan: Wählt den Kontenplan aus, auf den sicht die Aufgabe bezieht" %}</li>
                        <li>{% trans "Unternehmen Kategorie: Unternehmen/Fallstudie, zu welcher diese Aufgabe kategorisiert wird" %}</li>
                        <li>{% trans "Rechnungstyp: Gibt die Ansicht an, wie die Aufgabe für die Nutzer dargestellt wird. Genaueres unter 'Rechnungstyp'" %}</li>
                        <li>{% trans "Fragentyp: Gibt den Fragentyp an (Skonto, Rabatt, Abschreibung etc.)" %}</li>
                        <li>{% trans "Mailbetreff Geschäftsvorfall: Gibt für die Nutzer den Betreff an, der in der Mail im Posteingang zu der Aufgabe angezeigt wird" %}</li>
                        <li>{% trans "Mailtext: Gibt den Text der Mail im Posteingang an" %}</li>
                        <li>{% trans "Umsatzsteuerfrei: In der Aufgabenansicht wird angezeigt, dass diese Aufgabe Steuerfrei ist (wirkt sich nicht auf den Buchungssatz aus). Wird hier nein angegeben, so wird die Umsatzsteuer ausgerechnet und in der Rechnung mit angegeben." %}</li>
                        <li>{% trans "Hat Leistungszeitraum: Falls es sich um einen Leistungszeitraum handelt, wird hierüber automatisch ein Leistungszeitraum berechnet, welcher bis zu 3 Monate als ist und bis zu 3 Wochen lang " %}</li>
                        <li>{% trans "Nutzungsdauer: Die Nutzungsdauer für Abschreibungen" %}</li>
                        <li>{% trans "Feedback Konto falsch: Falls die Nutzer kein KI-Feedback erhalten, wird dieses Feedback bei der 2. Falschen Antwort angezeigt." %}</li>
                        <li>{% trans "Feedback Betrag falsch: Analog zum Konto, hier wird Feedback zum falschen Betrag angezeigt" %}</li>
                        <li>{% trans "Zahlweise: Zeigt in der Aufgabenansicht die Zahlweise an" %}</li>
                        <li>{% trans "Beschreibung: Der genaue Aufgabentext, der die Grundlage der Aufgabenansicht bildet. Der Betrag " %}</li>
                        <li>{% trans "Verabschiedung: Gibt die Verabschiedung in der Aufgabenansicht an" %}</li>
                        <li>{% trans "Zusatzinformation zur Aufgabe: Hier können für jede Aufgabe zusätzliche Hinweise gegeben werden, die für Nutzer dann sichtbar sind, sofern welche angegeben wurden." %}</li>
                        <li>{% trans "Buchungssätze hinzufügen: Hier ist die Maske, um den Buchungssatz abzubilden. Grundsätzlich sollte über diese Felder hier der Buchungssatz nachgebaut werden, welcher die Grundlage für jede Aufgabe bildet. Das individuelle Feedback wird weiter unten genauer erklärt." %}</li> 
                    </ul>
                    <br><br>
                    <strong>{% trans "Wichtige Informationen:" %}</strong>
                    <br>
                    <ul>
                        <li>{% trans "Für Abschreibungen muss die Kategorie Abschreibungen ausgewählt werden. Hier wird der angezeigte Rechnungsbetrag aus dem Buchungssatz und der Nutzungsdauer automatisch ermittelt und für die Nutzer angezeigt" %}</li>
                        <li>{% trans "Für Rabatte wird der Betrag vor dem Rabatt angezeigt. Dieser beträgt aktuell immer 5%" %}</li>
                    </ul>
                    
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Aufgabenerstellung" %}</p>
                    <img src="/media/aufgabeerstellen.gif" alt="{% trans 'Aufgabe erstellen' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Fallstudie/Unternehmen verwalten"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Hier können eigene Fallstudien angelegt werden. " %}
                    <br>
                    {% trans "Der Name wird bei der Aufgabenerstellung in dem Dropdown angezeigt" %}
                    <br>
                    {% trans "Der Anzeige Name ist der angezeigte Name in der Rechnungsansicht" %}
                    <br>
                    {% trans "Der Kontenplan bezieht sich auf den verwendeten Kontenplan" %}
                    <br>
                    {% trans "Die Checkbox verhindert, dass die Werte randomisiert werden. Falls die Werte randomisiert werden sollen, wird jeder Teil des Buchungssatzes mit einem Faktor von 0,25 bis 1,75 multipliziert." %}
                    <br><br>
                    {% trans "Nur eigene Unternehmen und die vordefinierten Unternehmen sind für einen selbst sichtbar. Nur eigene Unternehmen können gelöscht werden." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Unternehmen verwalten" %}</p>
                    <img src="/media/unternehmenverwalten.png" alt="{% trans 'Unternehmen verwalten' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Fragentyp verwalten"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>{% trans "Hier können individuelle Aufgabenkategorien erstellt werden und für die Aufgaben sichtbar gemacht werden. Die Aufgabenkategorien werden bei der Aufgabenzuweisung angezeigt." %}
                    <br><br>
                    {% trans "Nur eigene Kategorien und die vordefinierten Kategorien sind für einen selbst sichtbar. Nur eigene Kategorien können gelöscht werden." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Aufgabenkategorie" %}</p>
                    <img src="/media/aufgabenkategorie.png" alt="{% trans 'Aufgabenkategorie' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Konten verwalten"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>{% trans "Diese Übersicht ermöglicht die Erstellung eigener Kontenpläne. Es ist außerdem möglich Kontenpläne zu importieren über eine Excel vorlage. Das wird nächsten Punkt genauer erklärt." %}
                    <br>
                    {% trans "Bevor Konten einem Kontenplan zugewiesen werden können, muss ein Kontenplan erstellt werden. Dafür reicht ein Click auf 'Neuen Kontenplan erstellen'." %}
                    <br><br>
                    {% trans "Im Anschluss können nun Konten diesem Plan hinzugefügt werden. Dafür müssen die Felder oben in der Ansicht ausgefüllt werden. " %}
                    <br><br>
                    {% trans "Name: Der Name des Kontos" %}
                    <br><br>
                    {% trans "Kategorie und Unterkategorie: Um welche Art von Konto es sich handelt. Diese Auswahl wird verwendet, um Hauptbuch/GuV und Bilanz anzuzeigen." %}
                    <br><br>
                    {% trans "Hat Anfangsbestand: Wenn ein Konto für das vorangegangene Geschäftsjahr ein Anfangsbestand haben soll, kann die Checkbox ausgewählt werden. Anschließend kann ein Anfangsbestand ausgewählt werden. Alle Anfangsbestände werden bei der Nutzererstellung mit einem zufälligen Faktor zwischen 0,75 und 1,25 randomisiert, außer das Unternehmen des Nutzers wurde als Fallstudie zugeordnet, was eine Randomisierung unterbindet." %}
                    <br><br>
                    {% trans "Es ist möglich Konten für die bestehenden Kontenpläne (SecureNet) hinzuzufügen. Diese sind nur für einen selbst sichtbar und löschbar." %}
                    <br><br>
                    {% trans "Um den Konten noch Kontennummern zuzuordnen, muss auf 'Bearbeiten' gedrückt werden bei dem entsprechenden Konto. In der Ansicht kann dann die Kontonummer hinzugefügt werden." %}
                    <br><br>
                    {% trans "In der Ansicht kann außerdem eine Bilanzposition mit angegeben werden. Die sorgt dafür, dass ein Konto unter der angegebenen Bilanzposition abgeschlossen wird. Wenn also das Konto 810 die Bilanzposition 800 hat, dann wird im Hauptbuch nur das Konto 800 angezeigt. Außerdem wird auch die Bilanzposition als richtiges Ergebnis für den Buchungssatz zugelassen." %}
                    <br><br><br>
                    {% trans "Nur eigene Kontenpläne und die vordefinierten Kontenpläne sind für einen selbst sichtbar. Nur eigene Kontenpläne können gelöscht werden." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Kontenplan und Konten" %}</p>
                    <img src="/media/kontenplan.png" alt="{% trans 'Kontenplan' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Konten aus Excel importieren"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Alternativ kann das folgende Excel-Template benutzt werden, um Konten zu importieren. Wichtig ist hierbei, dass zunächst der Kontenplan erstellt wird. Unter Durchsuchen kann die Datei ausgewählt werden und mit dem Button Importieren importiert werden. " %}
                    <br><br>
                    <a href="/media/kontenimport.xlsx" download>{% trans "Konten importieren"%}</a>
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Kontenimport" %}</p>
                    <img src="/media/kontenimport.png" alt="{% trans 'Kontenimport' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Aufgaben aus Excel importieren"%}</div>
    <div class="faq-answer">
        <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Aufgaben können auch alternativ über Excel importiert werden. Die Beschreibung der Felder sind aus dem Reiter 'Aufgabenerstellung' zu entnehmen." %}
                    <br><br>
                    {% trans "Prinzipiell müssen keine Felder ausgefüllt werden, sprich, es wird kein Fehler ausgeworfen, wenn ein Eintrag leer bleibt. " %}
                    <br>
                    {% trans "Folgende Punkte sind zu beachten:" %}
                    <ul>
                        <li>{% trans "Der Kontenname muss exakt zum Kontennamen im Kontenplan sein" %}</li>
                        <li>{% trans "Statt des Kontennamens kann auch die Bilanzposition verwendet werden" %}</li>
                        <li>{% trans "Der Buchungssatz wird über die nummerierten Felder kontoname_1, soll/haben_1, betrag_1 dargestellt. Es können beliebig viele weitere Felder hinzugefügt werden, jedoch muss die Reihenfolge beibehalten werden." %}</li>
                    </ul>
                    <br><br>
                    <a href="/media/aufgabenimport.xlsx" download>{% trans "Aufgaben importieren"%}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Aufgaben zuweisen"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "In dieser Übersicht werden alle verfügbaren Aufgaben (vorgefertigte sowie selbst erstellte) angezeigt und nach Unternehmen sortiert. Hier ist es möglich die einzelnen Aufgaben anzuclicken und über 'Aufgaben zuweisen' den Nutzern zur verfügung zu stellen. Nach der Zuweisung erhalten die Nutzer eine Benachrichtigung über den Posteingang und können die Aufgabe bearbeiten." %}
                    <br><br>
                    {% trans "Es ist außerdem möglich, dass die Aufgaben auch selbst zugewiesen werden. Somit ist es möglich die Aufgaben im Vorhinein anzusehen, bevor diese an die Nutzer übergeben werden." %}
                    <br><br>
                    {% trans "Die Ansicht oben dient für den Überblick, um zu erkennen, welche Gruppen welche Aufgaben erhalten haben." %}
                    <br><br>
                    {% trans "Anzumerken ist, dass Aufgaben nur Gruppen von Nutzern zugewiesen werden können, nicht einzelnen Nutzern." %}
                    <br><br>
                    {% trans "Für die Zuweisung die entsprechenden Aufgaben auswählen und unten das Semester und den Studiengang auswählen." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Aufgaben zuweisen" %}</p>
                    <img src="/media/aufgabenzuweisen.gif" alt="{% trans 'Aufgaben zuweisen' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Was machen die verschiedenen Rechnungsansichten"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Die verschiedenen Rechnungsansichten bilden die verschiedenen Arten von Geschäftsvorfällen ab. Hier wird unterschieden zwischen ausgehenden, eingehenden und internen Vorgängen." %}
                    <br>
                    {% trans "Ausgehende Rechnungen sind Rechnungen, die das eigene Unternehmen an Kunden leitet" %}
                    <br>
                    {% trans "Eingehende Rechnungen sind jene, die das Unternehmen von einem Kunden bzw. Geschäftspartner erhalten hat" %}
                    <br>
                    {% trans "Interne Vorgänge, wie z.B. Abschreibungen sind vorgänge, die keine externe Partei betreffen." %}
                    <br>
                    {% trans "Falls die Aufgaben nicht in Form eines Geschäftsvorfalls dargestellt werden sollen, kann auch darauf verzichtet werden und es wird nur die Aufgabe und der Rechnungsbetrag angezeigt." %}
                </p>
            </div>
                <div class="faq-gif">
                    <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Ausgehend" %}</p>
                    <img src="/media/ausgehenderechnung.png" alt="{% trans 'ausgehend' %}">
                    <p class="gif-caption">{% trans "Eingehend" %}</p>
                    <img src="/media/eingehenderechnung.png" alt="{% trans 'eingehend' %}">
                    <p class="gif-caption">{% trans "Intern" %}</p>
                    <img src="/media/interneansicht.png" alt="{% trans 'intern' %}">
                    <p class="gif-caption">{% trans "Keine" %}</p>
                    <img src="/media/keineansicht.png" alt="{% trans 'keine' %}">
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Welche Informationen sehe nur ich? Welche Informationen können andere Lehrende sehen?"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>{% trans "Folgende Informationen sind für alle sichtbar" %}
                    <ul>
                        <li>{% trans "Aufgaben von SecureNet" %}</li>
                        <li>{% trans "Aufgaben von SecureNet_en" %}</li>
                        <li>{% trans "Vordefinierte Studiengänge" %}</li>
                        <li>{% trans "Vordefinierte Semester" %}</li>
                        <li>{% trans "Vordefinierte Fragetypen" %}</li>
                        <li>{% trans "Kontenpläne von Securenet und SecureNet_en" %}</li>
                   </ul>
                    <br><br>
                    {% trans "Folgende Informationen sind nur für einen selbst sichtbar" %}
                    <ul>
                        <li>{% trans "Erstellte Aufgaben" %}</li>
                        <li>{% trans "Erstellte Studiengänge" %}</li>
                        <li>{% trans "Erstellte Semester" %}</li>
                        <li>{% trans "Erstellte Fragetypen" %}</li>
                        <li>{% trans "Erstellte Konten (auch wenn diese in für alle sichtbare Kontenpläne hinzugefügt werden)" %}</li>
                        <li>{% trans "Erstellte Kontenpläne" %}</li>
                        <li>{% trans "Erstellte Nutzer" %}</li>
                        <li>{% trans "Erstellte Unternehmen" %}</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Wie kann ich Feedback für typische Fehler erstellen?"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Bei der Aufgabenerstellung oder bei der Bearbeitung von Aufgaben können Feedbackblöcke für bestimmte Lösungen erstellt werden. Wenn z.B. Haben und Soll vertauscht wird, kann das Feedback einen Hinweis dazu geben. Auch wenn z.B. die Steuer vergessen wurde, kann hier ein spezielles Feedback erstellt werden." %}
                    <br>
                    {% trans "Der erstellte Buchungssatz für jede Aufgabe bildet dabei die Grundlage. Am besten lässt sich das mit einem Beispiel erklären. " %}
                    <br><br>
                    {% trans "Angenommen der Buchungssatz ist Konto A 100€ and Konto B 100€. Der Nutzer hat nun B 100€ and A 100€ eingegeben. " %}
                    <br>
                    {% trans "Um diesen Fall abzufangen, kann für Konto A ein spezielles Feedback hinterlegt werden, dass bei der Eingabe von Konto B ein Text ausgegeben werden soll, wenn B statt A eingegeben wird." %}
                    <br>
                    {% trans "Das wird über den Button 'Konto-Feedback' ermöglicht. hier wird Konto B als Indikator verwendet um das spezielle Feedback auszugeben." %}
                    <br><br><br>
                    {% trans "Angenommen der Buchungssatz lautet Konto A 119€ an Konto B 100€ und Steuer 19€" %}
                    <br>
                    {% trans "Die Nutzereingabe lautet Konto A 119€ and Konto B 119€" %}
                    <br>
                    {% trans "Hier kann nun ein Feedback hinterlegt werden, dass die Steuer vergessen wurde und in einem extra Konto erfasst werden muss. Dafür kann über den Button 'Feedbackbereich hinzufügen' genau der entsprechende Bereich hinzugefügt werden. Hier werden 2 Felder für den Wertebereich angezeigt, die für den Feedbacktext verwendet werden." %}
                    <br>
                    {% trans "Wenn also für Konto B der Bereich 119€ gewählt wird (bestenfalls von 118 bis 120 die grenzen setzen), dann wird der Fall abdegeckt und bei fehlender Steuer kann ein entsprechender Hinweis hinterlegt werden." %}
                    <br><br>
                    {% trans "Wichtig: Die Aufgaben werden randomisiert (außer das Unternehmen wurde anders eingestellt). Der Feedbackbereich wird um den selben Faktor randomisiert, sodass dieser immer abgegriffen wird." %}
                </p>
            </div>
                <div class="faq-gif">
                <div class="gif-wrapper">
                    <p class="gif-caption">{% trans "Betrag" %}</p>
                    <img src="/media/feedbackbetrag.png" alt="{% trans 'Betrag' %}">
                    <p class="gif-caption">{% trans "Konto" %}</p>
                    <img src="/media/feedbackkonto.png" alt="{% trans 'Konto' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Kann ich Aufgaben nacheinander freischalten?"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Ja. Die Aufgaben werden alle bei Aufgaben zuweisen einzeln angezeigt. Es ist möglich Aufgaben thematisch zu erstellen und nur diese zum passenden Zeitpunkt zur Verfügung zu stellen." %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="faq-item">
    <div class="faq-question">{% trans "Wie kann ich die Randomisierung der Aufgabenwerte verhindern?"%}</div>
    <div class="faq-answer">
         <div class = "faq-flex-container">
            <div class ="faq-text">
                <p>
                    {% trans "Die Randomisierung kann verhindert werden, indem das Unternehmen bzw. die Fallstudie, für die Aufgaben erstellt werden entsprechend eingestellt werden. Dafür bei Fallstudie/Unternehmen verwalten (bei Aufgabe erstellen) ein Unternehmen erstellt werden und die Checkbox 'Fallstudie' muss ausgewählt werden. Dann werden alle Aufgaben von diesem Unternehmen nicht randomisiert." %}
                    <br><br>
                    <strong>{% trans "Wichtig: " %}</strong>{% trans "Das gilt nur für selbst erstellte Aufgaben." %}
                </p>
            </div>
        </div>
    </div>
</div>
{%endif%}
<script>
    document.querySelectorAll('.faq-question').forEach(item => {
        item.addEventListener('click', () => {
            const answer = item.nextElementSibling;
            answer.style.display = (answer.style.display === 'block') ? 'none' : 'block';
        });
    });
</script>
{% endblock %}
