{% extends 'master_layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/hauptbuch.css' %}">
{% endblock %}
{% block content %}
<h1>Dein Hauptbuch</h1>
<p>Hier findest du dein Hauptbuch mit all deinen offenen T-Konten</p>
<form method="GET" action="{% url 'posts:hauptbuch' %}">
    <label for="konto_filter">Filter nach Konto:</label>
    <select name="konto" id="konto_filter" onchange="this.form.submit()">
        <option value="">Alle Konten</option>
        {% for konto in konten %}
            <option value="{{ konto.name }}" {% if konto_filter == konto.name %}selected{% endif %}>
                {{ konto.name }}
            </option>
        {% endfor %}
    </select>
</form>
<section class="hauptbuch">
    {% for konto, daten in t_konten.items %}
    <div class="konto">
        <h2>{{ konto }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Soll</th>
                    <th>Haben</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table>
                            {% for aufgabe_id, betrag, farbe in daten.soll %}
                            <tr style="background-color: {{ farbe }};">
                                <td>{{ aufgabe_id }}</td>
                                <td>{{ betrag|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for aufgabe_id, betrag, farbe in daten.haben %}
                            <tr style="background-color: {{ farbe }};">
                                <td>{{ aufgabe_id }}</td>
                                <td>{{ betrag|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
    {% endfor %}
</section>
{% endblock %}