{% extends "master_layout.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Konto bearbeiten"%}</h2>

<form method="post">
    {% csrf_token %}
    <label for="id_name">{% trans "Kontoname:"%}</label>
    {{ form.name }}
    <label for="id_hat_anfangsbestand">{% trans "Hat Anfangsbestand"%}:</label>
    {{ form.hat_anfangsbestand }}
    <div id="anfangsbestand_feld" style="display: none;">
        <label id = "anfangsbestand_feld" style="display: none;" for="id_anfangsbestand_menge">{% trans "Anfangsbestand (Menge):" %}</label>
        {{ form.anfangsbestand_menge }}
    </div>
    <label for="id_kategorie">{% trans "Kategorie:"%}</label>
    {{ form.kategorie }}

    <label for="id_unterkategorie">{% trans "Unterkategorie:"%}</label>
    {{ form.unterkategorie }}
    <label for="id_kontonumemr">{% trans "Kontonummer:"%}</label>
    {{ form.kontonummer }}
    <label for="id_bilanzposition">{% trans "Bilanzposition:"%}</label>
    {{ form.bilanzposition_nummer }}
    <label for="id_kontenplan">{% trans "Kontenplan:"%}</label>
    {{ form.kontenplan }}
    <button type="submit">{% trans "Änderungen speichern"%}</button>
</form>

<a href="{% url 'posts:konten_verwalten' %}">{% trans "Zurück zur Übersicht"%}</a>
<script>
    const gettexts = {
        aktiva: "{{ _('Aktiva') }}",
        passiva: "{{ _('Passiva') }}",
        aufwand: "{{ _('Aufwand') }}",
        ertrag: "{{ _('Ertrag') }}"
    };
    document.addEventListener("DOMContentLoaded", function() {
        let kategorieField = document.querySelector("#id_kategorie");
        let unterkategorieField = document.querySelector("#id_unterkategorie");
    
        function updateUnterkategorie() {
            let kategorie = kategorieField.value;
            unterkategorieField.innerHTML = "";  // Reset Auswahl
            
            if (kategorie === "Bestandskonto") {
                unterkategorieField.innerHTML = `
                    <option value="Aktiva">${gettexts.aktiva}</option>
                    <option value="Passiva">${gettexts.passiva}</option>
                `;
            } else if (kategorie === "Erfolgskonto") {
                unterkategorieField.innerHTML = `
                    <option value="Aufwand">${gettexts.aufwand}</option>
                    <option value="Ertrag">${gettexts.ertrag}</option>
                `;
            }
        }
    
        kategorieField.addEventListener("change", updateUnterkategorie);
    });
    document.addEventListener("DOMContentLoaded", function () {
        const checkbox = document.querySelector("#id_hat_anfangsbestand");
        const eingabeFeld = document.querySelector("#anfangsbestand_feld");

        function toggleEingabeFeld() {
            eingabeFeld.style.display = checkbox.checked ? "block" : "none";
        }

        checkbox.addEventListener("change", toggleEingabeFeld);
        toggleEingabeFeld();  // Initialzustand beim Laden
    });
    </script>
    
{% endblock %}
