{% extends "master_layout.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Konto bearbeiten"%}</h2>

<form method="post">
    {% csrf_token %}
    <label for="id_name">{% trans "Kontoname:"%}</label>
    {{ form.name }}

    <label for="id_kategorie">{% trans "Kategorie:"%}</label>
    {{ form.kategorie }}

    <label for="id_unterkategorie">{% trans "Unterkategorie:"%}</label>
    {{ form.unterkategorie }}
    <label for="id_kontonumemr">{% trans "Kontonummer:"%}</label>
    {{ form.kontonummer }}
    <label for="id_bilanzposition">{% trans "Bilanzposition:"%}</label>
    {{ form.bilanzposition_nummer }}
    <label for="id_kontenplan">{% trans "Kontenplan:"%}</label>
    {{ form.kontenplan }}
    <button type="submit">{% trans "Änderungen speichern"%}</button>
</form>

<a href="{% url 'posts:konten_verwalten' %}">{% trans "Zurück zur Übersicht"%}</a>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let kategorieField = document.querySelector("#id_kategorie");
        let unterkategorieField = document.querySelector("#id_unterkategorie");
    
        function updateUnterkategorie() {
            let kategorie = kategorieField.value;
            unterkategorieField.innerHTML = "";  // Reset Auswahl
            
            if (kategorie === "Bestandskonto") {
                unterkategorieField.innerHTML = `
                    <option value="Aktiva">${gettext("Aktiva")}</option>
                    <option value="Passiva">${gettext("Passiva")}</option>
                `;
            } else if (kategorie === "Erfolgskonto") {
                unterkategorieField.innerHTML = `
                    <option value="Aufwand">${gettext("Aufwand")}</option>
                    <option value="Ertrag">${gettext("Ertrag")}</option>
                `;
            }
        }
    
        kategorieField.addEventListener("change", updateUnterkategorie);
    });
    </script>
    
{% endblock %}
