{% extends 'master_layout.html' %}
{% load i18n %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/posteingang.css' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="title">{% trans "Mail-Details"%}</h1>

        <div class="mail-detail-box">
            <div class="mail-header">
                <p><strong>{% trans "Von:"%}</strong> {{ mail.absender.name }} ({{ mail.absender.email }})</p>
                <p><strong>{% trans "Adresse:"%}</strong> {{ mail.absender.straße }}, {{ mail.absender.plz }} {{ mail.absender.stadt }}</p>
                <p><strong>{% trans "Betreff:"%}</strong> {% if LANGUAGE_CODE == "en" and mail.betreff_en != null %} {{ mail.betreff_en }} {% elif LANGUAGE_CODE == "de" and mail.betreff_de != null %} {{ mail.betreff }} {% else %} {{mail.betreff}} {% endif %} </p>
                <p><strong>{% trans "Empfangen am:"%}</strong> {{ mail.datum|date:"d.m.Y H:i" }}</p>
            </div>

            <div class="mail-content">
                {% autoescape off %}
                <p>{% if LANGUAGE_CODE == "en" and mail.mailtext_en != null %} {{ mail.mailtext_en }} {% elif LANGUAGE_CODE == "de" and mail.mailtext_de != null %} {{ mail.mailtext_de }} {% else %} {{mail.mailtext}} {% endif %}</p>
                {% endautoescape %}
            </div>

            <div class="mail-footer">
                {% if mail.aufgabe %}
                    <a href="{{ aufgabe_link }}" class="btn btn-primary">{% trans "Zur Aufgabe"%}</a>
                {% elif mail.betreff == _("Bitte aktualisieren Sie Ihren Anzeigenamen & Ihr Passwort")%}
                    <a href="{{ aufgabe_link }}" class="btn btn-primary">{% trans "Profil aktualisieren"%}</a>
                {% else %}
                    <form method="POST" action="{% url 'users:orga_mail_bestätigen' mail.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% trans "Aufgabe delegieren"%}</button>
                    </form>
                {% endif %}
                <a href="{% url 'posts:posteingang' %}" class="btn btn-secondary">{% trans "Zurück zum Posteingang"%}</a>
            </div>
        </div>
    </div>
{% endblock %}