{% extends 'master_layout.html' %}
{% load i18n %}
{% load static%}

{% block content %}
<h1>{% trans "Unternehmen verwalten"%}</h1>

<form method="post">
    {% csrf_token %}
    <label for="id_name">{% trans "Name"%}:</label>
    {{ form.name }}
    <label for="id_anzeigename">{% trans "Anzeigename"%}:</label>
    {{ form.anzeigename }}
    <label for="id_kontenplan">{% trans "Kontenplan"%}:</label>
    {{ form.kontenplan }}

    <label for="id_fallstudie">{% trans "Fallstudie"%}:</label>
    {{ form.fallstudie }} ({%trans "Randomisierung (Anfangsbestände und Buchungssätze um einen einheitlichen Faktor randomisieren)" %})
    <br><br>
    <button type="submit">{% trans "Unternehmen hinzufügen"%}</button>
</form>
<h2>{% trans "Bestehende Unternehmen"%}</h2>
<ul>
    {% for unternehmen in unternehmen %}
        <li>
            {% trans "Name:"%} {{ unternehmen.name }}
            {% trans "Kontenplan:"%} {{ unternehmen.kontenplan }}
            {% trans "Fallstudie:"%} {{ unternehmen.fallstudie }}
            <a href="{% url 'posts:unternehmen_loeschen' unternehmen.id %}" 
               class="btn btn-danger" 
               onclick="return confirm('{% trans "Soll das Unternehmen wirklich gelöscht werden?"%}');">
               {% trans "Löschen"%}
            </a>
        </li>
    {% empty %}
        <li>{% trans "Keine Unternehmen vorhanden."%}</li>
    {% endfor %}
</ul>

<a href="{% url 'posts:aufgabe_erstellen' %}" class="btn btn-secondary">{% trans "Zurück zur Aufgabenerstellung"%}</a>
{% endblock %}
