{% extends 'master_layout.html' %}
{% load my_filters %}
{% load static %}
{% load i18n %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/rechnung.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}
<div class="container_rechnung">
    <h1 class="headline_rechnung">{% trans "Dokument: "%} {{ aufgabe.rechnungsnummer }} </h1>
<br>
    <button id="toggle-right-section" class="btn-toggle_rechnung">
    📄 {% trans "Buchungs-Navigation ausblenden"%}
    </button>
    {% if aufgabe.aufgabeninfo %}
        <button id="toggle-info-section" class="btn-toggle_rechnung" onclick="toggleInfoBox()">
            {% trans "Weitere Informationen anzeigen"%}
        </button>
        <div id="info-box" class="infobox">
            {{ aufgabe.aufgabeninfo|safe }}
        </div>
    {% endif %}

{% if is_lehrkraft == 1 %}
  <button type="button" onclick="toggleZufallsdaten()">
    {% trans "Lösungen anzeigen"%}
  </button>
  <div id="zufallsdaten" style="display: none;">
  <p><strong>Zufällig generierte Werte:</strong></p>
  <ul>
    <li><strong>Soll-Konten:</strong>
      <ul>
        {% for id in nutzer_aufgabe.soll_konten %}
          <li>
            {{ konten_namen|get_konto:id }}: {{ nutzer_aufgabe.soll_betraege|index:forloop.counter0 }} €
          </li>
        {% endfor %}
      </ul>
    </li>
    <li><strong>Haben-Konten:</strong>
      <ul>
        {% for id in nutzer_aufgabe.haben_konten %}
          <li>
            {{ konten_namen|get_konto:id }}: {{ nutzer_aufgabe.haben_betraege|index:forloop.counter0 }} €
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
{% endif %}


<div class="content-wrapper_rechnung">
    <!-- Linker Bereich: Fiktive Rechnung -->
    <div class="left-section_rechnung">
        {% include rechnungs_template %}
    </div>

    <!-- Rechter Bereich: Eingabefelder -->
    <div class="right-section_rechnung">
       <!-- 🔘 Toggle-Button für rechte Seite -->
        <h2>{% trans "Buchungs-Navigation"%}</h2>
        {%trans "Hinweis: Dieses Menü kann geöffnet werden, um die alten Buchungen und Feedback zu den Buchungen anzuzeigen"%}
        <button id="toggle-buchung-ansicht" class="btn-toggle_rechnung">{% trans "Buchungen/Feedback anzeigen"%}</button>

        <div id="buchungen-ansicht" class="buchungen-ansicht" style="display: none;">

    <h3>{% trans "Frühere Versuche:"%}</h3>
    {% if buchung_status %}
        <ul class="buchungen-liste">
            {% for item in buchung_status %}
                <li class="buchung-item">
                    <button class="btn-attempt" onclick="showBuchungDetail('{{ item.buchung.buchung_id }}')">
                        {% trans "Versuch"%} {{ forloop.counter }}
                    </button>

                    <span class="{% if item.korrekt %}status-korrekt{% else %}status-falsch{% endif %}">
                        {% if item.korrekt %}
                            ✅ {% trans "Lösung korrekt"%}
                        {% elif item.buchung.korrekturbuchung %}
                            🔁 {% trans "Korrekturbuchung"%}
                        {% else %}
                            ❌ {% trans "Lösung falsch. Aufklappen, um Feedback anzuzeigen"%}
                        {% endif %}
                    </span>
            
                    {% if item.is_letzte_falsche and not item.buchung.korrekturbuchung %}
                        <button class="btn-korrektur" onclick="fillKorrekturbuchung('{{ item.buchung.antwort_konten_soll }}', '{{ item.buchung.antwort_konten_haben }}', '{{ item.buchung.antwort_betrag_soll }}', '{{ item.buchung.antwort_betrag_haben }}')">
                            {% trans "Korrekturbuchung vorschlagen"%}
                        </button>
            
                        <button class="btn-korrektur-durchfuehren" onclick="showKorrekturbuchungMaske('{{ item.buchung.buchung_id }}')">
                            {% trans "Korrekturbuchung durchführen"%}
                        </button>
                    {% endif %}
                </li>

                <!-- Buchungsdetails -->
                <div id="buchung-detail-{{ item.buchung.buchung_id }}" class="buchung-detail" style="display: none;">
                    <p><strong>{% trans "Soll-Konten:"%}</strong>
                        {% for id in item.original_soll_konten %}
                            {{ konten_namen|get_konto:id }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>{% trans "Haben-Konten:"%}</strong>
                        {% for id in item.original_haben_konten %}
                            {{ konten_namen|get_konto:id }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>{% trans "Beträge Soll:"%}</strong>
                        {% for betrag in item.soll_betraege_liste %}
                            {{ betrag }} €{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>{% trans "Beträge Haben:"%}</strong>
                        {% for betrag in item.haben_betraege_liste %}
                            {{ betrag }} €{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                        {% if not item.buchung.versuch|divisibleby:2 %}
                            <h3>{% trans "Feedback"%}</h3>
                            {% if item.buchung.konto_korrekt == 0 %}
                                <p>✅ {% trans "Alle Konten sind korrekt."%}</p>
                            {% elif item.buchung.konto_korrekt == 1 %}
                                <p>⚠️ {% trans "Das Konto auf der Soll-Seite ist inkorrekt."%}</p>
                            {% elif item.buchung.konto_korrekt == 2 %}
                                <p>⚠️ {% trans "Das Konto auf der Haben-Seite ist inkorrekt."%}</p>
                            {% elif item.buchung.konto_korrekt == 3 %}
                                <p>⚠️ {% trans "Beide Konten sind falsch."%}</p>
                            {% endif %}
                            {% if item.buchung.betrag_korrekt == 0 %}
                                <p>✅ {% trans "Betrag ist korrekt."%}</p>
                            {% elif item.buchung.betrag_korrekt == 1 %}
                                <p>⚠️ {% trans "Der Betrag auf der Soll-Seite ist inkorrekt."%}</p>
                            {% elif item.buchung.betrag_korrekt == 2 %}
                                <p>⚠️ {% trans "Der Betrag auf der Haben-Seite ist inkorrekt."%}</p>
                            {% elif item.buchung.betrag_korrekt == 3 %}
                                <p>⚠️ {% trans "Beide Beträge sind falsch."%}</p>
                            {% endif %}
                            
                            {% if item.buchung.versuch > 2%}
                                {% if item.buchung.konto_korrekt != 0 or item.buchung.betrag_korrekt != 0 %}
                                    <h4>{% trans "Zusätzliches Feedback:"%}</h4>
                                    {% if nutzergruppe == 0 or aufgabe.immer_feedback == 1 %} <!--nur die mit geraden Nutzergruppen-->
                                        {% if item.buchung.konto_korrekt != 0 %}
                                            <p>{{ aufgabe.feedback_konto_falsch }}</p>
                                        {% endif %}
                                        {% if item.buchung.betrag_korrekt != 0 %}
                                            <p>{{ aufgabe.feedback_betrag_falsch }}</p>
                                        {% endif %}
                                    {% endif %}
                                    {% if nutzergruppe == 1 and aufgabe.immer_feedback != 1 %}
                                        {% if item.buchung.feedback_ollama %}
                                            <p>{{ item.buchung.feedback_ollama }}</p>
                                        {% else %}
                                            <p>{% trans "Feedback wird geladen. Aktualisiere die Seite in einer Minute nochmal."%}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if item.buchung.versuch > 4%}
                                <h4>{% trans "Richtige Lösung"%}</h4>
                                <li><strong>{% trans "Soll-Konten:"%}</strong>
                                    <ul>
                                        {% for i in nutzer_aufgabe.soll_konten %}
                                            <li>
                                                {{ konten_namen|get_konto:i }}: {{ nutzer_aufgabe.soll_betraege|index:forloop.counter0 }} €
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                        
                                <li><strong>{% trans "Haben-Konten:"%}</strong>
                                    <ul>
                                        {% for i in nutzer_aufgabe.haben_konten %}
                                            <li>
                                                {{ konten_namen|get_konto:i }}: {{ nutzer_aufgabe.haben_betraege|index:forloop.counter0 }} €
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "Keine vorherigen Buchungen gefunden."%}</p>
    {% endif %}

    <!-- Korrekturbuchung Maske -->
    <div id="korrekturbuchung-maske" style="display: none;">
        <h3>{% trans "Korrekturbuchung bestätigen"%}</h3>
        <p>{% trans "Die umgekehrte Buchung wird durchgeführt, um die falsche Buchung auszugleichen."%}</p>
        <div id="korrekturbuchung-details" class = "input-group_rechnung">
            <!-- Hier werden die Buchungsdetails dynamisch eingefügt -->
        </div>
        <button class="btn-korrektur-durchfuehren" onclick="durchfuehrenKorrekturbuchung()">{% trans "Korrekturbuchung bestätigen"%}</button>
    </div>
</div>

            <h2 id="h2">{% trans "Buchungssatz"%}</h2>

<form id = "absenden" method="post" action="{% url 'posts:rechnung_detail' aufgabe.id %}">
    {% csrf_token %}
    <div class="inputs-container_rechnung">

        <!-- SOLL-KONTEN -->
        <div id="soll-container_rechnung">
            <label><strong>{% trans "Eingaben Soll:"%}</strong></label>
            <div class="input-group_rechnung">
                <select name="soll_konto[]" onchange="kontoOderBetragGeaendert(this)">
                    <option value="">{% trans "Bitte wählen..."%}</option>
                    {% for konto in konten %}
                        {% if konto.kontenplan_id == kontenplan_id %}
                            {% with konto.kontonummer|stringformat:"04d" as nummer %}
                                <option value="{{ konto.id }}">
                                    {% if konto.kontonummer %}{{ nummer }} {% endif %}{{ konto.name }}
                                </option>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="number" step="0.01" placeholder="{% trans "Betrag eingeben"%}" name="soll_betrag[]" oninput="kontoOderBetragGeaendert(this)" required>
            </div>
            <button type="button" class="btn-add_rechnung" onclick="addField('soll-container_rechnung')">{% trans "Neues Soll-Feld hinzufügen"%}</button>
        </div>

        <!-- HABEN-KONTEN -->
        <div id="haben-container_rechnung">
            <label><strong>{% trans "Eingaben Haben:"%}</strong></label>
            <div class="input-group_rechnung">
                <select name="haben_konto[]" onchange="kontoOderBetragGeaendert(this)">
                    <option value="">{% trans "Bitte wählen..."%}</option>
                    {% for konto in konten %}
                        {% if konto.kontenplan_id == kontenplan_id %}
                            {% with konto.kontonummer|stringformat:"04d" as nummer %}
                                <option value="{{ konto.id }}">
                                    {% if konto.kontonummer %}{{ nummer }} {% endif %}{{ konto.name }}
                                </option>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="number" step="0.01" placeholder="{% trans "Betrag eingeben"%}" name="haben_betrag[]" oninput="kontoOderBetragGeaendert(this)" required>
            </div>
            <button type="button" class="btn-add_rechnung" onclick="addField('haben-container_rechnung')">{% trans "Neues Haben-Feld hinzufügen"%}</button>
        </div>

    </div>

    <!-- SUBMIT-BUTTON -->
    <button id="btn-submit" class="btn-submit_rechnung" onclick="summenCheck(event)">
        {% trans "Eingaben übermitteln"%}
    </button>    
    <br><br>
    <p>{% trans "Hinweis: Sämtliche Buchungen (auch falsche Buchungen) werden in das Hauptbuch eingetragen. Bei Fehlerhaften Buchungen muss eine Korrekturbuchung erfolgen."%}</p> 
</form>
        </div>
    </div>
</div>
<div id="tkonto-vorschau" class="tkonto-grid"></div>

{% include "posts/rechnung_js.html" %}
{% endblock %}
